<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>{{title}}</title>
</head>

<body style="margin: 0;">
	<table style="width: 100%;color: #5b5b5b;border-collapse: collapse;border: none; background-image: url(blur-bg-zonia.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;">
      <tr style="background: rgba(0,0,0,.55); text-align: center;">
          <td colspan="3" style="padding: 15px 0;">
          	<h1>Versatile Work</h1>
          </td>
      </tr>

      {% block content %}

      {% endblock content %}

      <tr style="background: rgba(0,0,0,.55); text-align: center;">
          <td colspan="3" style="padding: 15px 0; font-family: sans-serif;">
          	<p style="color:#ccc; font-size: 12px;">Versatile Work Copyright {% now "Y" %}</p>
          </td>
      </tr>
  </table>
</body>
</html>
